body {
	margin: 0;
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-flow: row wrap;
}

	.container > * {
		padding: 10px 20px;
		flex: 1 100%;
	}

	.site-header {
		background-color: royalblue;
	}

	.sidebar-01 {
		background-color: cornflowerblue;
	}

	.site-main {
		background-color: #fff;
	}

		.article {
			border-top: 1px solid #ddd;
			padding-bottom: 10px;
		}

			.article:first-child {
				border-top: none;
			}

	.sidebar-02 {
		background-color: lightskyblue;
	}

	.site-footer {
		background-color: lavender;
	}

@media (min-width: 600px) {
	.sidebar {
		flex: 1 auto;
	}
}

@media (min-width: 800px) {
	.site-main {
		flex: 3 0px;
	}

	.sidebar-01 { order: 1; }
	.site-main { order: 2; }
	.sidebar-02 { order: 3; }
	.site-footer { order: 4; }
}
